<ion-content class="shadowed">
  <ion-header class="no-shadow">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        CFT-20 Tokens
      </ion-title>
    </ion-toolbar>
    <div class="filter aligned mb-4" *ngIf="this.selectedAddress">
      created by {{ this.selectedAddress }}
    </div>
  </ion-header>

  <div class="aligned">
    <div *ngIf="isLoading">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </div>
    <div class="list" *ngIf="!isLoading && tokens.length > 0">
      <a class="inscription-item" [routerLink]="['/app/token', item.transaction.hash]"
        *ngFor="let item of tokens; let index">
        <div class="content">
          <div class="image" *ngIf="item.content_path">
            <img [src]="item.content_path" />
          </div>
          <div class="ticker" *ngIf="!item.content_path">{{ item.ticker }}</div>
        </div>
        <h4>#{{item.id}} {{ item.ticker }}</h4>
        <div class="detail">
          <div class="detail-item">
            <span>{{ item.name }}</span>
          </div>
          <div class="detail-item">
            <span>Max Supply: {{ item.max_supply | tokenDecimals:item.decimals | humanSupply }}</span>
          </div>
          <div class="detail-item">
            <span>{{ item.date_created | dateAgo }}</span>
          </div>
        </div>
      </a>

      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <div class="list" *ngIf="!isLoading && tokens.length == 0">
      No tokens found
    </div>
  </div>

  <div class="aligned no-shadow">
    <h3>
      Holdings
    </h3>
    <div class="list" *ngIf="!isLoading && holdings.length > 0">
      <ion-grid class="token-holdings-list">
        <ion-row class="item">
          <ion-col>
            #
          </ion-col>
          <ion-col>
            Ticker
          </ion-col>
          <ion-col>
            Balance
          </ion-col>
          <ion-col>
            Share of supply
          </ion-col>
          <ion-col>
            &nbsp;
          </ion-col>
        </ion-row>
        <ion-row class="item interactable" *ngFor="let item of holdings; index as i"
          [routerLink]="['/app/manage/token', item.token.transaction.hash]">
          <ion-col>
            {{ i + 1 }}
          </ion-col>
          <ion-col>
            {{ item.token.ticker }}
          </ion-col>
          <ion-col>
            {{ item.amount | tokenDecimals:item.token.decimals }}
          </ion-col>
          <ion-col>
            {{ item.amount / item.token.circulating_supply | percent }}
          </ion-col>
          <ion-col class="actions">
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="list" *ngIf="!isLoading && holdings.length == 0">
      You don't hold any tokens
    </div>
  </div>