<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" offset="0" class="ms-0 ps-0">
        <ion-header class="no-shadow">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title class="ms-0 ps-0">
              Inscriptions Marketplace
            </ion-title>
          </ion-toolbar>
        </ion-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="aligned main-content" *ngIf="isLoading">
          <ion-progress-bar type="indeterminate"></ion-progress-bar>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="section-container">
          <div class="section">
            <h4 class="header">Sort</h4>
            <ion-select aria-label="Order" placeholder="Order" fill="clear" interface="popover" value="price-low"
              (ionChange)="selectionChange('order', $event)">
              <ion-select-option value="price-low">Lowest price</ion-select-option>
              <ion-select-option value="price-high">Highest price</ion-select-option>
              <ion-select-option value="recent-adds">Recently listed</ion-select-option>
            </ion-select>
          </div>

          <div class="section">
            <h4 class="header">Price</h4>
            <ion-select aria-label="Price" placeholder="Price" fill="clear" interface="popover" value="all"
              (ionChange)="selectionChange('price', $event)">
              <ion-select-option value="all">All</ion-select-option>
              <ion-select-option value="0-1">&lt; 0.1 ATOM</ion-select-option>
              <ion-select-option value="1-1000000">0.1 - 1 ATOM</ion-select-option>
              <ion-select-option value="1000000-5000000">1 - 5 ATOM</ion-select-option>
              <ion-select-option value="5000000-10000000">5 - 10 ATOM</ion-select-option>
              <ion-select-option value="10000000">10 ATOM+</ion-select-option>
            </ion-select>
          </div>

          <div class="section">
            <h4 class="header">Inscription Range</h4>
            <ion-select aria-label="Price" placeholder="Range" fill="clear" interface="popover" value="all"
              (ionChange)="selectionChange('range', $event)">
              <ion-select-option value="all">All</ion-select-option>
              <ion-select-option value="100">Sub 100</ion-select-option>
              <ion-select-option value="1000">Sub 1 000</ion-select-option>
              <ion-select-option value="10000">Sub 10 000</ion-select-option>
              <ion-select-option value="50000">Sub 50 000</ion-select-option>
            </ion-select>
          </div>

          <div class="section">
            <h4 class="header">Type</h4>
            <ion-select aria-label="Type" placeholder="Type" fill="clear" interface="popover" value="all"
              (ionChange)="selectionChange('type', $event)">
              <ion-select-option value="all">All</ion-select-option>
              <ion-select-option value="image">Images</ion-select-option>
              <ion-select-option value="document">Documents</ion-select-option>
            </ion-select>
          </div>

          <!-- <div class="section">
            <ion-button>List inscription</ion-button>
          </div> -->
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="list" *ngIf="!isLoading && marketplaceDetail.length > 0">
          <a class="inscription-item main-content"
            (click)="buy(item.marketplace_listing.transaction.hash, item.inscription.transaction.hash)"
            *ngFor="let item of marketplaceDetail; let index">
            <div class="content">
              <app-generic-preview [mime]="item.inscription.mime" [contentPath]="item.inscription.content_path"
                [isExplicit]="item.inscription.is_explicit"></app-generic-preview>
            </div>
            <h4 class="name">{{ item.inscription.name }}</h4>
            <div class="detail">
              <div class="detail-item">
                <span>#{{item.inscription.id-1}}</span>
              </div>
              <div class="detail-item">
                Listed by:
                <a target="_blank" [routerLink]="['/app/wallet/', item.marketplace_listing.seller_address]"
                  *ngIf="item.marketplace_listing.seller_address != walletAddress">{{
                  item.marketplace_listing.seller_address |
                  shortenAddress | async}}</a>
                <a class="text-warning" target="_blank"
                  [routerLink]="['/app/wallet/', item.marketplace_listing.seller_address]"
                  *ngIf="item.marketplace_listing.seller_address == walletAddress">You</a>

                <!-- <ion-chip>
                  <ion-avatar>
                    <img alt="Unknown avatar" src="../../assets/avatar.svg" />
                  </ion-avatar>
                  <ion-label *ngIf="item.marketplace_listing.seller_address == walletAddress">You</ion-label>
                  <ion-label *ngIf="item.marketplace_listing.seller_address != walletAddress">{{
                    item.marketplace_listing.seller_address
                    | shortenAddress | async}}</ion-label>
                </ion-chip> -->
              </div>
              <div class="marketplace-price text-center">
                <ion-label class="value">{{ item.marketplace_listing.total | tokenDecimals:6}}
                  <span>ATOM</span></ion-label>
                <ion-label class="label">Price</ion-label>
              </div>
            </div>
          </a>
          <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
              <ion-infinite-scroll-content> </ion-infinite-scroll-content>
            </ion-infinite-scroll> -->
        </div>
      </ion-col>
      <ion-col size="0" size-md="2">
        <div class="section mb-2">
          <h4 class="header">Activity</h4>
          <ion-select aria-label="Price" placeholder="Range" fill="clear" interface="popover" value="all">
            <ion-select-option value="all">All</ion-select-option>
            <ion-select-option value="apples">Listings</ion-select-option>
            <ion-select-option value="apples">Sales</ion-select-option>
          </ion-select>
        </div>
        <div class="aligned sidebar">

          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #xxx
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>