<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" offset="0" class="ms-0 ps-0">
        <ion-header class="no-shadow">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title class="ms-0 ps-0">
              Inscriptions Marketplace
            </ion-title>
          </ion-toolbar>
        </ion-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="aligned main-content" *ngIf="isLoading">
          <ion-progress-bar type="indeterminate"></ion-progress-bar>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="section-container">
          <div class="section">
            <h4 class="header">Sort</h4>
            <ion-select aria-label="Order" placeholder="Order" fill="clear" interface="popover" value="price-low">
              <ion-select-option value="price-low">Lowest price</ion-select-option>
              <ion-select-option value="apples">Highest price</ion-select-option>
              <ion-select-option value="oranges">Recently listed</ion-select-option>
              <ion-select-option value="bananas">Bananas</ion-select-option>
            </ion-select>
          </div>

          <div class="section">
            <h4 class="header">Price</h4>
            <ion-select aria-label="Price" placeholder="Range" fill="clear" interface="popover" value="all">
              <ion-select-option value="all">All</ion-select-option>
              <ion-select-option value="apples">0 - 0.1 ATOM</ion-select-option>
              <ion-select-option value="apples">0.1 - 1 ATOM</ion-select-option>
              <ion-select-option value="oranges">1 - 5 ATOM</ion-select-option>
              <ion-select-option value="bananas">5 - 10 ATOM</ion-select-option>
              <ion-select-option value="bananas">10 ATOM+</ion-select-option>
            </ion-select>
          </div>

          <div class="section">
            <h4 class="header">Inscription Range</h4>
            <ion-select aria-label="Price" placeholder="Range" fill="clear" interface="popover" value="all">
              <ion-select-option value="all">All</ion-select-option>
              <ion-select-option value="apples">Sub 100</ion-select-option>
              <ion-select-option value="apples">Sub 1 000</ion-select-option>
              <ion-select-option value="oranges">Sub 10 000</ion-select-option>
              <ion-select-option value="bananas">Sub 50 000</ion-select-option>
            </ion-select>
          </div>

          <div class="section">
            <h4 class="header">Type</h4>
            <ion-select aria-label="Type" placeholder="Type" fill="clear" interface="popover" value="all">
              <ion-select-option value="all">All</ion-select-option>
              <ion-select-option value="image">Images</ion-select-option>
              <ion-select-option value="document">Documents</ion-select-option>
            </ion-select>
          </div>

          <!-- <div class="section">
            <ion-button>List inscription</ion-button>
          </div> -->
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="list" *ngIf="!isLoading && inscriptions.length > 0">
          <a class="inscription-item main-content" [routerLink]="['/app/inscription', item.transaction.hash]"
            *ngFor="let item of inscriptions; let index">
            <div class="content">
              <app-generic-preview [mime]="item.mime" [contentPath]="item.content_path"
                [isExplicit]="item.is_explicit"></app-generic-preview>
            </div>
            <h4 class="name">{{ item.name }}</h4>
            <div class="detail">
              <div class="detail-item">
                <span>#{{item.id-1}}</span>
                <!-- <ion-badge color="primary">First 100</ion-badge> -->

              </div>
              <div class="detail-item">
                <a href="/">{{ item.current_owner |
                  shortenAddress | async}}</a>
              </div>
              <!-- <div class="price mt-1"
                style="position: relative; left: -10px; background-color: var(--color-teal); width: 200px; text-align: center; font-size: 16px; color: #333">
                12 ATOM
              </div> -->
              <div class="price text-center">
                <ion-label class="value">12.12 <span>ATOM</span></ion-label>
                <ion-label class="label">Price</ion-label>
              </div>
            </div>
          </a>
          <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
              <ion-infinite-scroll-content> </ion-infinite-scroll-content>
            </ion-infinite-scroll> -->
        </div>
      </ion-col>
      <ion-col size="0" size-md="2">
        <div class="section mb-2">
          <h4 class="header">Activity</h4>
          <ion-select aria-label="Price" placeholder="Range" fill="clear" interface="popover" value="all">
            <ion-select-option value="all">All</ion-select-option>
            <ion-select-option value="apples">Listings</ion-select-option>
            <ion-select-option value="apples">Sales</ion-select-option>
          </ion-select>
        </div>
        <div class="aligned sidebar">

          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #1222 this it eh sentence to check
          </div>
          <div>
            activity
          </div>
          <div>
            Listed #xxx
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>