<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" offset="0" class="ms-0 ps-0">
        <ion-header class="no-shadow">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title class="ms-0 ps-0">
              Inscriptions Marketplace
            </ion-title>
          </ion-toolbar>
        </ion-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="aligned main-content" *ngIf="isLoading">
          <ion-progress-bar type="indeterminate"></ion-progress-bar>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="section-container mt-3">
          <div class="section">
            <h4 class="header">Sort</h4>
            <ion-select aria-label="Order" placeholder="Order" fill="clear" interface="popover" value="recent-adds"
              (ionChange)="selectionChange('order', $event)">
              <ion-select-option value="price-low">Lowest price</ion-select-option>
              <ion-select-option value="price-high">Highest price</ion-select-option>
              <ion-select-option value="recent-adds">Recently listed</ion-select-option>
            </ion-select>
          </div>

          <div class="section">
            <h4 class="header">Price</h4>
            <ion-select aria-label="Price" placeholder="Price" fill="clear" interface="popover" value="all"
              (ionChange)="selectionChange('price', $event)">
              <ion-select-option value="all">All</ion-select-option>
              <ion-select-option value="0-100000">&lt; 0.1 ATOM</ion-select-option>
              <ion-select-option value="100000-1000000">0.1 - 1 ATOM</ion-select-option>
              <ion-select-option value="1000000-5000000">1 - 5 ATOM</ion-select-option>
              <ion-select-option value="5000000-10000000">5 - 10 ATOM</ion-select-option>
              <ion-select-option value="10000000-1000000000">10 ATOM+</ion-select-option>
            </ion-select>
          </div>

          <div class="section">
            <h4 class="header">Inscription Range</h4>
            <ion-select aria-label="Price" placeholder="Range" fill="clear" interface="popover" value="all"
              (ionChange)="selectionChange('range', $event)">
              <ion-select-option value="all">All</ion-select-option>
              <ion-select-option value="100">Sub 100</ion-select-option>
              <ion-select-option value="1000">Sub 1 000</ion-select-option>
              <ion-select-option value="10000">Sub 10 000</ion-select-option>
              <ion-select-option value="50000">Sub 50 000</ion-select-option>
            </ion-select>
          </div>

        </div>
      </ion-col>
      <ion-col size="12" size-lg="4">
        <div class="token-stats">
          <span class="key">
            24H Volume
          </span>
          <span class="value ms-3">
            {{ volumeAtom | tokenDecimals:6 | number:"1.2-6" }} ATOM (${{ volumeUSD |
            number:"1.2-6" }})
          </span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="list" *ngIf="!isLoading && reservedMarketplaceDetail.length > 0">
          <h3 class="mb-4 mt-0 pt-0">Reserved by you</h3>
          <a class="inscription-item main-content"
            (click)="buy(item.marketplace_listing.transaction.hash, item.inscription.transaction.hash)"
            *ngFor="let item of reservedMarketplaceDetail; let index">
            <div class="content">
              <app-generic-preview [mime]="item.inscription.mime" [contentPath]="item.inscription.content_path"
                [isExplicit]="item.inscription.is_explicit"></app-generic-preview>
            </div>
            <h4 class="name">{{ item.inscription.name }}</h4>
            <div class="detail">
              <div class="detail-item">
                <span>#{{item.inscription.id-1}}</span>
              </div>
              <div class="detail-item">
                <div>Listed by:</div>
                <a target="_blank" [routerLink]="['/app/wallet/', item.marketplace_listing.seller_address]"
                  *ngIf="item.marketplace_listing.seller_address != walletAddress">{{
                  item.marketplace_listing.seller_address |
                  shortenAddress | async}}</a>
                <a class="text-warning" target="_blank"
                  [routerLink]="['/app/wallet/', item.marketplace_listing.seller_address]"
                  *ngIf="item.marketplace_listing.seller_address == walletAddress">You</a>

              </div>
              <div class="marketplace-price text-center">
                <ion-label class="value">{{ item.marketplace_listing.total | tokenDecimals:6}}
                  <span>ATOM</span></ion-label>
                <ion-label class="label">Price</ion-label>
              </div>
            </div>
          </a>

          <h3>All listings</h3>
        </div>
        <div class="list" *ngIf="!isLoading && marketplaceDetail.length > 0">
          <a class="inscription-item main-content"
            (click)="buy(item.marketplace_listing.transaction.hash, item.inscription.transaction.hash)"
            *ngFor="let item of marketplaceDetail; let index">
            <div class="content">
              <app-generic-preview [mime]="item.inscription.mime" [contentPath]="item.inscription.content_path"
                [isExplicit]="item.inscription.is_explicit"></app-generic-preview>
            </div>
            <h4 class="name">{{ item.inscription.name }}</h4>
            <div class="detail">
              <div class="detail-item">
                <span>#{{item.inscription.id-1}}</span>
              </div>
              <div class="detail-item">
                <div>Listed by:</div>
                <a target="_blank" [routerLink]="['/app/wallet/', item.marketplace_listing.seller_address]"
                  *ngIf="item.marketplace_listing.seller_address != walletAddress">{{
                  item.marketplace_listing.seller_address |
                  shortenAddress | async}}</a>
                <a class="text-warning" target="_blank"
                  [routerLink]="['/app/wallet/', item.marketplace_listing.seller_address]"
                  *ngIf="item.marketplace_listing.seller_address == walletAddress">You</a>
              </div>
              <div class="marketplace-price text-center">
                <ion-label class="value">{{ item.marketplace_listing.total | tokenDecimals:6}}
                  <span>ATOM</span></ion-label>
                <ion-label class="label">Price</ion-label>
              </div>
            </div>
          </a>
          <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
              <ion-infinite-scroll-content> </ion-infinite-scroll-content>
            </ion-infinite-scroll> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>