:root {
    border-radius: 10px !important;
}

:host {
    border-radius: 10px !important;
}

ion-content {
    // --background: var(--color-dark-teal);
    // border-radius: 10px !important;
    --background: hsla(0, 0%, 100%, .05) !important;
    background-color: hsla(0, 0%, 100%, .05) !important;
    backdrop-filter: blur(50px);
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.2s ease-in-out;

}


.mw-400 {
    max-width: 400px;
}

.animation {
    max-width: 150px;

    &.large {
        max-width: 200px;
        height: 200px;
    }
}

ion-col.note {
    font-size: 14px;
    color: #a7a7a7;

    h3 {
        font-size: 14px;
        color: #ebebeb;
    }

    a {
        color: var(--color-teal);
    }
}

div.fees {
    font-size: 14px;
    color: #a7a7a7;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;

    h4 {
        font-size: 16px;
        color: #ebebeb;
        text-align: center;
    }

    table {
        td {
            padding-right: 12px;
            padding-bottom: 4px;

            &.label {
                text-align: left;
                font-weight: bold;
            }

            &.total {
                padding-top: 10px;
                border-top: 1px solid #a7a7a7;
            }
        }
    }
}