<ion-content class="shadowed">
  <ion-header class="no-shadow">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button defaultHref="/app/create"></ion-back-button>
      </ion-buttons>
      <ion-title>
        New inscription
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="aligned">
    <p class="note">
      Details about content inscriptions
    </p>
    <form class="form" [formGroup]="createForm">
      <ion-grid>
        <ion-row>
          <ion-col size-xl="3" size-lg="5" size-xs="12">
            <div class="uploader text-center" formGroupName="basic">
              <p>Any content<br />Max 800kb</p>
              <label for='input-file'>Select file</label>
              <input id='input-file' type='file' (change)="onFileSelected($event)" />
            </div>
            <!-- <ion-input type="file" accept=".csv, text/plain"></ion-input> -->
          </ion-col>
          <ion-col size-xl="4" size-lg="6" size-sm="8" size-xs="12">
            <div class="form-group" formGroupName="basic">
              <ion-item lines="none">
                DROPDOWN TO SELECT ALTER EGO
              </ion-item>
              <ion-item lines="none">
                <ion-input label="Name" labelPlacement="stacked" placeholder="Name your inscription"
                  formControlName="name"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-textarea label="Description" labelPlacement="stacked" placeholder="Describe your inscription"
                  formControlName="description"></ion-textarea>
              </ion-item>
              <!-- <label>Name your inscription <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="name" placeholder="My inscription" value="" />
              <div class="form-hint d-inline">Your login email address</div> -->
              <!-- <div class="d-inline" *ngIf="
                getBasicField('basic.email').invalid && 
                (getBasicField('basic.email').dirty || getBasicField('basic.email').touched)
                then emailError">
              </div> -->
              <!-- <ng-template #emailError>
                <div class="form-hint d-inline">.
                  <span *ngIf="getBasicField('basic.email').errors.required" class="text-warning">
                    Required.
                  </span>
                  <span *ngIf="getBasicField('basic.email').errors.email" class="text-warning">
                    Must be a valid email address.
                  </span>
                  <span *ngIf="getBasicField('basic.email').errors.minlength" class="text-warning">
                    Must be at least 8 characters long
                  </span>
                </div>
              </ng-template> -->
            </div>
            <div class="mt-3 warning-box" *ngIf="isError">
              <b>Unable to sign transaction</b>
              <p>{{ errorText }}</p>
              <p>You must sign the transaction in order to inscribe content</p>
            </div>
            <div class="p-3">
              <div>
                <ion-button color="primary" fill="solid" type="submit" (click)="inscribe()">
                  <ion-icon slot="start" name="checkmark"></ion-icon>
                  Inscribe
                </ion-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>