<ion-content [fullscreen]="true" mode="md">
  <div class="logo">
    <a href="/">
      <img src="../../assets/logo/asteroid-white-transparent-narrow.png" />
    </a>
  </div>
  <div class="title">
    Inscribe<br />anything<br />on the Hub
    <div class="subtitle">
      From images and video to text and tokens, Asteroid protocol allow you to
      inscribe anything. Our metaprotocol framework opens the door to a vast new
      world of possibilities on the Hub
    </div>
  </div>
  <div class="cta">
    <a [routerLink]="['/app/wallet']" class="button">Continue to app</a>
    <a
      href="https://medium.com/@delphilabs/introducing-asteroid-protocol-an-open-source-framework-for-inscriptions-and-tokens-on-cosmos-hub-03df146d48b1"
      class="a"
      target="_blank"
      >Learn more</a
    >
  </div>
</ion-content>
