<ion-content [fullscreen]="true">
  <div class="logo">
    <a href="/">
      <img src="../../assets/logo/asteroid-white-transparent-narrow.png">
    </a>
  </div>
  <div class="title">
    Inscribe<br />anything<br />on the Hub
    <div class="subtitle">
      From images and video to text and tokens, Meteors allow you to inscribe anything. Our
      metaprotocol framework opens the door to a vast new world of possibilities on the Hub
    </div>
  </div>
  <div class="cta">
    <a [routerLink]="['/app/dashboard']" class="button">Continue to app</a>
    <a href="#" class="a">Learn more</a>
  </div>
</ion-content>