<ion-content [fullscreen]="true">
  <div class="logo">
    <a href="/">
      <img src="../../assets/logo/small.png">
    </a>
  </div>
  <div class="title">
    Inscribe<br />anything<br />on the Hub
    <div class="subtitle">
      This part should be a catchy phrase that tells people they can inscribe images, video, text, or anything else on
      the hub. They can even create tokens
    </div>
  </div>
  <div class="cta">
    <a [routerLink]="['/app/create']" class="button">Create inscription</a>
    <!-- <a href="#" class="a">Browse inscriptions</a>
    <br />
    <a href="#" class="a">Learn more</a> -->
  </div>
</ion-content>