ion-content {
  --ion-background-color: rgba(0, 0, 0, 0.2);
  background-image: url("../../assets/background/inscriptions-landscape.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 30%;
}

.logo {
  padding: 30px;
}

.title {
  font-weight: 500;
  margin-left: 70px;
  margin-top: 150px;
  width: 55%;
  color: #dddddd;
  font-size: 100px;
  line-height: 90px;
  text-transform: uppercase;

}

.subtitle {
  margin-top: 10px;
  width: 60%;
  font-weight: 300;
  font-size: 22px;
  line-height: 22px;

  color: #aaa;
  text-transform: none;

}

.cta {
  margin-left: 70px;
  margin-top: 50px;
}


.button {
  color: #bbb;
  text-decoration: none;
  /* border: 1px solid #006600; */
  border: 1px solid #ff9d15;
  border-radius: 10px;
  padding: 10px;
  backdrop-filter: blur(10px);
  /* background: rgba(0, 255, 0, 0.1); */
  background: rgba(255, 157, 21, 0.1);
  border-radius: 4px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  color: #ddd;
  backdrop-filter: blur(4px);
  background: rgba(255, 157, 21, 0.2);
}

.a {
  color: #777;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  margin-left: 10px;
}

.a:hover {
  color: #ddd;
}