ion-content {
  --ion-background-color: rgba(0, 0, 0, 0.2);
  background-image: url("../../assets/background/inscriptions-landscape.png");
  @supports (
    background-image: url("../../assets/background/inscriptions-landscape.webp")
  ) {
    background-image: url("../../assets/background/inscriptions-landscape.webp");
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 30%;

  @media only screen and (max-width: 700px) {
    // background: url("../../assets/background/ui-background-flipped.png") no-repeat 35% center fixed;
  }
}

.logo {
  padding: 30px;

  max-width: 180px;
}

.title {
  font-weight: 500;
  margin-left: 70px;
  margin-top: 150px;
  width: 55%;
  color: #dddddd;
  font-size: 100px;
  line-height: 90px;
  text-transform: uppercase;

  @media only screen and (max-width: 1000px) {
    margin-top: 100px;
    margin-left: 50px;
    width: 70%;
    font-size: 72px;
    line-height: 62px;
  }

  @media only screen and (max-width: 700px) {
    margin-left: 20px;
    margin-top: 35px;
    width: 90%;
    font-size: 58px;
    line-height: 48px;
  }
}

.subtitle {
  margin-top: 10px;
  width: 60%;
  font-weight: 300;
  font-size: 22px;
  line-height: 24px;

  color: #aaa;
  text-transform: none;

  @media only screen and (max-width: 700px) {
    width: 90%;
  }
}

.cta {
  margin-left: 70px;
  margin-top: 50px;

  // @media only screen and (max-width: 700px) {
  //   text-align: center;
  //   margin-left: 0px;
  //   position: absolute;
  //   width: 100%;
  //   bottom: 30px;
  // }
}

.button {
  color: #bbb !important;
  text-decoration: none;
  /* border: 1px solid #006600; */
  border: 1px solid #ff9d15;
  border-radius: 10px;
  padding: 10px;
  backdrop-filter: blur(10px);
  /* background: rgba(0, 255, 0, 0.1); */
  background: rgba(255, 157, 21, 0.1);
  border-radius: 4px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  color: #ddd;
  backdrop-filter: blur(4px);
  background: rgba(255, 157, 21, 0.2);
}

.a {
  color: #777 !important;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  margin-left: 10px;
}

.a:hover {
  color: #ddd;
}
