@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins-VariableFont_wght';
  src:
    url('./fonts/Poppins-VariableFont_wght.woff2') format('woff2'),
    url('./fonts/Poppins-VariableFont_wght.woff') format('woff'),
    url('./fonts/Poppins-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-variation-settings: 'wght' 400;
  @apply font-sans;
}

strong {
  font-variation-settings: 'wght' 700;
}

@layer utilities {
  .font-thin {
    font-variation-settings: 'wght' 100;
  }
  .font-extralight {
    font-variation-settings: 'wght' 200;
  }
  .font-light {
    font-variation-settings: 'wght' 300;
  }
  .font-normal {
    font-variation-settings: 'wght' 400;
  }
  .font-medium {
    font-variation-settings: 'wght' 500;
  }
  .font-semibold {
    font-variation-settings: 'wght' 600;
  }
  .font-bold {
    font-variation-settings: 'wght' 700;
  }
  .font-extrabold {
    font-variation-settings: 'wght' 800;
  }
  .font-black {
    font-variation-settings: 'wght' 900;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .w-available {
    width: -webkit-fill-available;
    width: -moz-available;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

@layer components {
  .tab.tab-active:not(.tab-disabled):not([disabled]) {
    @apply border-primary;
  }

  .menu li > *:not(ul, .menu-title, .btn) {
    @apply text-header-content;
  }

  .menu li > *:not(ul, .menu-title, .btn).active {
    @apply text-primary;
    @apply bg-inherit;
    @apply font-bold;
  }

  .image-pixelated {
    image-rendering: pixelated;
  }
}
