<ion-grid class="h-100 m-0 p-0">
  <ion-row class="h-100">
    <ion-col class="main-content h-100">
      @if (isLoading) {
        <div class="loading p-4">
          <ion-progress-bar type="indeterminate"></ion-progress-bar>
          <p>Loading market...</p>
        </div>
      } @else {
        <div class="aligned h-100">
          <p-table
            #data
            [lazy]="true"
            dataKey="id"
            (onLazyLoad)="load($event)"
            [totalRecords]="total"
            [value]="listings"
            [loading]="isTableLoading"
            [tableStyle]="{ 'min-width': '30rem' }"
            [paginator]="true"
            [rows]="20"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of many"
            [style]="{
              display: 'flex',
              width: '100%',
              height: '100%',
              'flex-flow': 'column',
              'justify-content': 'space-between'
            }"
            [defaultSortOrder]="1"
            sortField="ppt"
          >
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="id" pFrozenColumn>
                  Listing # <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="ppt">
                  ATOM per Token <p-sortIcon field="ppt"></p-sortIcon>
                </th>
                <th pSortableColumn="amount">
                  {{ token.ticker }} Tokens
                  <p-sortIcon field="amount"></p-sortIcon>
                </th>
                <th pSortableColumn="marketplace_listing.total">
                  Total ATOM
                  <p-sortIcon field="marketplace_listing.total"></p-sortIcon>
                </th>
                <th pSortableColumn="marketplace_listing.deposit_total">
                  Minimum Deposit
                  <p-sortIcon
                    field="marketplace_listing.deposit_total"
                  ></p-sortIcon>
                </th>
                <th pSortableColumn="date_created">
                  Listed <p-sortIcon field="date_created"></p-sortIcon>
                </th>
                <th>&nbsp;</th>
              </tr>
            </ng-template>
            <ng-template [appTableRow]="listings" pTemplate="body" let-listing>
              <tr class="no-click">
                <td pFrozenColumn>{{ listing.id }}</td>
                <td class="mono">
                  {{ listing.ppt | tokenDecimals: 6 | number: '1.6-6' }} (${{
                    listing.ppt * baseTokenUSD
                      | tokenDecimals: 6
                      | number: '1.6-6'
                  }})
                </td>
                <td class="mono">
                  {{
                    listing.amount
                      | tokenDecimals: token.decimals
                      | number: '1.6-6'
                  }}
                </td>
                <td class="mono">
                  {{
                    listing.marketplace_listing.total
                      | tokenDecimals: 6
                      | number: '1.6-6'
                  }}
                  (${{
                    listing.marketplace_listing.total * baseTokenUSD
                      | tokenDecimals: 6
                      | number: '1.6-6'
                  }})
                </td>
                <td class="mono">
                  {{
                    (listing.marketplace_listing.deposit_total /
                      listing.marketplace_listing.total) *
                      100 | number: '1.1-6'
                  }}%
                </td>
                <td>{{ listing.date_created | dateAgo }}</td>
                <td class="text-end">
                  <ion-button
                    fill="outline"
                    color="success"
                    (click)="
                      deposit(listing.marketplace_listing.transaction.hash)
                    "
                    *ngIf="
                      listing.marketplace_listing.seller_address !==
                        walletAddress &&
                      (!listing.marketplace_listing.is_deposited ||
                        listing.marketplace_listing.depositor_timedout_block! <
                          currentBlock)
                    "
                    >Buy</ion-button
                  >
                  <ion-text
                    *ngIf="
                      listing.marketplace_listing.seller_address !==
                        walletAddress &&
                      listing.marketplace_listing.is_deposited &&
                      listing.marketplace_listing.depositor_address !==
                        walletAddress &&
                      listing.marketplace_listing.depositor_timedout_block! >
                        currentBlock
                    "
                    >RESERVED ({{
                      listing.marketplace_listing.depositor_timedout_block! -
                        currentBlock
                    }})</ion-text
                  >
                  <ion-button
                    fill="outline"
                    color="warning"
                    (click)="
                      cancel(listing.marketplace_listing.transaction.hash)
                    "
                    *ngIf="
                      listing.marketplace_listing.seller_address ===
                        walletAddress &&
                      (!listing.marketplace_listing.is_deposited ||
                        listing.marketplace_listing.depositor_timedout_block! <
                          currentBlock)
                    "
                    >Cancel</ion-button
                  >
                  <ion-text
                    *ngIf="
                      listing.marketplace_listing.seller_address ===
                        walletAddress &&
                      listing.marketplace_listing.is_deposited &&
                      listing.marketplace_listing.depositor_address !==
                        walletAddress &&
                      listing.marketplace_listing.depositor_timedout_block! >
                        currentBlock
                    "
                    >RESERVED ({{
                      listing.marketplace_listing.depositor_timedout_block! -
                        currentBlock
                    }})</ion-text
                  >
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="4">No listings found</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      }
    </ion-col>
  </ion-row>
</ion-grid>
