<ion-content class="shadowed">
  <ion-header class="no-shadow">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button defaultHref="/app/create"></ion-back-button>
      </ion-buttons>
      <ion-title>
        New content inscription
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="aligned">
    <p class="note">
      Details about content inscriptions
    </p>
    <!-- This is the actial content
    <ion-icon color="primary" name="chevron-forward" slot="start"></ion-icon>
    <ion-button color="primary" fill="solid">
      <ion-icon slot="start" name="create-sharp"></ion-icon>
      Inscribe
    </ion-button>
    <ion-button color="warning">Cancel</ion-button>
    <ion-button color="warning" fill="clear">Cancel</ion-button> -->
    <ion-grid class="m-0 p-0">
      <ion-row>
        <ion-col size="3">
          PREVIEW
        </ion-col>
        <ion-col size="3">
          FORM
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-button color="primary" fill="solid">
            <ion-icon slot="start" name="create-sharp"></ion-icon>
            Inscribe
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <ion-card class="no-shadow">
      <ion-card-header>
        <ion-card-title>What would you like to inscribe?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        this is content

      </ion-card-content>

    </ion-card> -->
  </div>
</ion-content>