<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" offset="0" size-md="12" offset-md="0" size-md="10" offset-md="1" size-xl="8" offset-xl="2"
        class="main-content">
        <ion-header class="no-shadow">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
              <ion-back-button defaultHref="/app/tokens"></ion-back-button>
            </ion-buttons>
            <ion-title>
              <!-- Less 1 because database starts at 1 and not 0 -->
              Token <span *ngIf="!isLoading">#{{ token.id - 1 }}</span>
            </ion-title>
          </ion-toolbar>
        </ion-header>
        <div class="p-4">
          <div class="loading" *ngIf="isLoading">
            <ion-progress-bar type="indeterminate"></ion-progress-bar>
            <p>
              Loading token...
            </p>
          </div>
        </div>
        <div class="aligned" *ngIf="!isLoading">
          <ion-grid>
            <ion-row>
              <ion-col size-lg="5" size-xs="8" *ngIf="token.content_path">
                <div class="text-center">
                  <img class="rounded" [src]="token.content_path" />
                </div>
              </ion-col>
              <ion-col size-lg="5" size-xs="12" *ngIf="!token.content_path">
                <div class="text-center">
                  <div class="ticker mx-auto">{{ token.ticker }}<span>CFT-20 Token</span></div>
                </div>
              </ion-col>
              <ion-col size-xl="6" size-lg="6" size-sm="8" size-xs="12">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <h1 class="mt-0">{{ token.ticker }}</h1>
                      <p class="note">{{ token.name }}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="break pt-3 pb-3 own-balance" *ngIf="walletConnected">
                    <ion-col size="12">
                      <div class="meta">
                        <span class="label">Your balance</span>
                        <span class="value">{{ token.max_supply | tokenDecimals:token.decimals | humanSupply }}
                          ($0.0)</span>
                      </div>
                      <div>
                        <ion-button color="primary" fill="clear">Transfer</ion-button>
                        <ion-button color="primary" fill="clear">Sell</ion-button>
                        <ion-button color="primary" fill="clear">History</ion-button>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row class="break pb-3">
                    <ion-col size="12">
                      <div class="meta">
                        <h4>Tokenomics</h4>
                      </div>
                    </ion-col>
                    <ion-col size="6">
                      <div class="meta">
                        <span class="label">Max supply</span>
                        <span class="value">{{ token.max_supply | tokenDecimals:token.decimals | humanSupply }}</span>
                      </div>
                    </ion-col>
                    <ion-col size="6">
                      <div class="meta">
                        <span class="label">Circulating</span>
                        <span class="value">{{ token.circulating_supply | tokenDecimals:token.decimals | humanSupply }}
                          ({{token.circulating_supply / token.max_supply * 100 | number: '1.2-2'}}%)</span>
                      </div>
                    </ion-col>
                    <ion-col size="6">
                      <div class="meta">
                        <span class="label">Price</span>
                        <span class="value">{{ token.max_supply | tokenDecimals:token.decimals | humanSupply }}</span>
                      </div>
                    </ion-col>
                    <ion-col size="6">
                      <div class="meta">
                        <span class="label">Market cap</span>
                        <span class="value">{{ token.circulating_supply | tokenDecimals:token.decimals | humanSupply }}
                          ({{token.circulating_supply / token.max_supply * 100 | number: '1.2-2'}}%)</span>
                      </div>
                    </ion-col>
                    <ion-col size="6">
                      <div class="meta">
                        <span class="label">Limit per mint</span>
                        <span class="value">{{ token.per_mint_limit | tokenDecimals:token.decimals }}</span>
                      </div>
                    </ion-col>
                    <ion-col size="6">
                      <div class="meta">
                        <span class="label">{{ tokenIsLaunched ? 'Launched at' : 'Launching'}}</span>
                        <span class="value">{{ tokenLaunchDate | date:'longDate' }} {{ tokenLaunchDate |
                          date:'shortTime' }}</span>
                      </div>
                    </ion-col>
                    <ion-col size="12" class="pt-3" *ngIf="token.circulating_supply < token.max_supply">
                      <ion-button color="warning" (click)="mint()" *ngIf="tokenIsLaunched">Mint now</ion-button>
                      <ion-button color="primary" fill="clear" href="/mint/{{token.ticker}}" target="_blank">Open
                        mint
                        page</ion-button>
                    </ion-col>
                    <ion-col size="12" class="pt-3" *ngIf="token.circulating_supply >= token.max_supply">
                      <ion-text color="warning">All ${{ token.ticker }} tokens have been minted</ion-text>
                    </ion-col>
                  </ion-row>


                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row class="break pt-3">
              <ion-col size="12">
                <ion-segment value="trading" color="primary" (ionChange)="sectionChanged($event)">
                  <ion-segment-button value="trading">
                    <ion-label>Trading</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="holders">
                    <ion-label>Holders</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="metadata">
                    <ion-label>Metadata</ion-label>
                  </ion-segment-button>
                </ion-segment>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="selectedSection == 'trading'">
              <ion-col>
                <p-table #data [value]="positions" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true"
                  [rows]="10" [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} tokens" [globalFilterFields]="
                            ['name', 'ticker' ]" styleClass="token-list">
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="id" pFrozenColumn># <p-sortIcon field="id"></p-sortIcon></th>
                      <th pSortableColumn="ppt">ATOM per Token <p-sortIcon field="ppt"></p-sortIcon></th>
                      <th pSortableColumn="amount">{{ token.ticker }} Tokens <p-sortIcon field="amount"></p-sortIcon>
                      </th>
                      <th pSortableColumn="total">Total ATOM <p-sortIcon field="total"></p-sortIcon></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-position>
                    <tr>
                      <td pFrozenColumn>{{ position.id }}</td>
                      <td>{{ position.ppt | tokenDecimals:6 | number:'1.2-2' }}</td>
                      <td>{{ position.amount | tokenDecimals:token.decimals | number:'1.2-2'}}</td>
                      <td>{{ position.total | tokenDecimals:6 | number:'1.2-2'}}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="4">No tokens found.</td>
                    </tr>
                  </ng-template>
                </p-table>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="selectedSection == 'holders'">
              <ion-col>
                Holders
              </ion-col>
            </ion-row>

            <ion-row *ngIf="selectedSection == 'metadata'">
              <ion-col size="12" size-lg="8" offset-lg="2">
                <ion-grid>
                  <ion-row class="pt-3">
                    <ion-col>
                      <div class="meta">
                        <span class="label">Created by</span>
                        <a [routerLink]="['/app/wallet', token.creator ]" [queryParams]="{section: 'tokens'}">
                          <ion-chip>
                            <ion-avatar>
                              <img alt="Unknown avatar" src="../../assets/avatar.svg" />
                            </ion-avatar>
                            <ion-label>{{ token.creator | shortenAddress }}</ion-label>
                          </ion-chip>
                        </a>
                      </div>
                    </ion-col>
                    <ion-col>
                      <div class="meta">
                        <span class="label">Owned by</span>
                        <a [routerLink]="['/app/wallet', token.current_owner ]" [queryParams]="{section: 'tokens'}">
                          <ion-chip>
                            <ion-avatar>
                              <img alt="Unknown avatar" src="../../assets/avatar.svg" />
                            </ion-avatar>
                            <ion-label>{{ token.current_owner | shortenAddress }}</ion-label>
                          </ion-chip>
                        </a>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row class="pt-3">
                    <ion-col>
                      <div class="meta">
                        <span class="label">Created on</span>
                        <span class="value">{{ token.date_created | date:'longDate' }} {{ token.date_created |
                          date:'shortTime' }}</span>
                        <span class="value">Block {{ token.height | number: '1.0-0' }}</span>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row class="pt-3">
                    <ion-col>
                      <div class="meta">
                        <span class="label">Transaction</span>
                        <span class="value"><a href="{{ explorerTxUrl }}{{ token.transaction.hash }}" target="_blank">{{
                            token.transaction.hash }}</a></span>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div style="height: 100px;"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>