<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" offset="0" size-md="12" offset-md="0" size-md="10" offset-md="1" size-xl="8" offset-xl="2"
        class="main-content">
        <ion-header class="no-shadow">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>
              CFT-20 Token Trading
            </ion-title>
          </ion-toolbar>
        </ion-header>

        <div class="aligned">
          <div *ngIf="isLoading">
            <ion-progress-bar type="indeterminate"></ion-progress-bar>
          </div>
          <div class="list">
            <ion-grid class="token-holdings-list">
              <ion-row class="item">
                <ion-col>Ticker</ion-col>
                <ion-col>Name</ion-col>
                <ion-col>Price</ion-col>
                <ion-col>Market cap</ion-col>
                <ion-col>Volume (24h)</ion-col>
                <ion-col>&nbsp;</ion-col>
              </ion-row>
              <ion-row class="item interactable" *ngFor="let item of tokens; index as i"
                [routerLink]="['/app/trade/', item.ticker]">
                <ion-col>
                  {{ item.ticker }}
                </ion-col>
                <ion-col>
                  {{ item.name }}
                </ion-col>
                <ion-col>
                  $0.00
                </ion-col>
                <ion-col>
                  $0.00
                </ion-col><ion-col>
                  $0.00
                </ion-col>
                <ion-col class="actions">
                  <ion-icon name="chevron-forward"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div class="list" *ngIf="!isLoading && tokens.length == 0">
            No tokens found
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>