.list {
    text-align: left;

    @media only screen and (max-width: 900px) {
        text-align: center;
    }
}

.filter {
    margin-top: -15px;
    color: #888;
}

.avatar {
    margin-bottom: 50px;
    text-align: center;

    ion-avatar {
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        // border: 1px solid var(--color-yellow);
        margin-bottom: 20px;
    }

}

.token-item {
    margin-right: 30px;
    margin-bottom: 40px;
    display: inline-block;
    width: 250px;
    height: 250px;
    position: relative;
    padding: 10px;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;

    h4 {
        font-size: 16px;
        color: #cccccc;
        font-weight: normal;
        margin-bottom: 5px;
    }

    .image {
        width: 230px;
        height: 130px;
        overflow: hidden;
        background-color: var(--color-dark-teal);
        text-align: center;
    }

    .ticker {
        width: 230px;
        height: 130px;
        background-color: var(--color-dark-teal);
        text-align: center;
        text-transform: uppercase;
        padding-top: 50px;
        border-radius: 10px;
        font-size: 22px;
        color: #ffffff;
    }

    .detail {
        font-size: 12px;
        color: #999999;
        font-weight: normal;
    }

    &::before,
    &::after {
        position: absolute;
        width: 33px;
        height: 20px;
        content: "";
    }

    &::before {
        top: 0;
        left: 0;
        border-top: 1px solid var(--color-dark-teal);
        border-left: 1px solid var(--color-dark-teal);
        border-top-left-radius: 10px;
    }

    &::after {
        right: 0;
        bottom: 0;
        border-right: 1px solid var(--color-dark-teal);
        border-bottom: 1px solid var(--color-dark-teal);
        border-bottom-right-radius: 10px;
    }

    &:hover {
        transition: border 0.2s ease-in-out;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

        h4 {
            color: #ffffff;
        }

        &::before,
        &::after {
            position: absolute;
            width: 80px;
            height: 20px;
            content: "";
        }

        &::before {
            transition: all 0.2s ease-in-out;
            top: 0;
            left: 0;
            border-top: 1px solid var(--color-teal);
            border-left: 1px solid var(--color-teal);
        }

        &::after {
            transition: all 0.2s ease-in-out;
            right: 0;
            bottom: 0;
            border-right: 1px solid var(--color-teal);
            border-bottom: 1px solid var(--color-teal);
        }
    }
}

.inscription-item {
    margin-right: 30px;
    margin-bottom: 40px;
    display: inline-block;
    width: 250px;
    height: 250px;
    position: relative;
    padding: 10px;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;

    h4 {
        font-size: 16px;
        color: #cccccc;
        font-weight: normal;
        margin-bottom: 5px;
    }

    .content {
        max-width: 250px;
        height: 60%;
        overflow: hidden;
        object-fit: cover;
    }

    .mime {
        width: 230px;
        height: 130px;
        background-color: var(--color-dark-teal);
        text-align: center;
        text-transform: uppercase;
        padding-top: 50px;
        border-radius: 10px;
        font-size: 22px;
    }

    .detail {
        font-size: 12px;
        color: #999999;
        font-weight: normal;
    }

    &::before,
    &::after {
        position: absolute;
        width: 33px;
        height: 20px;
        content: "";
    }

    &::before {
        top: 0;
        left: 0;
        border-top: 1px solid var(--color-dark-teal);
        border-left: 1px solid var(--color-dark-teal);
        border-top-left-radius: 10px;
    }

    &::after {
        right: 0;
        bottom: 0;
        border-right: 1px solid var(--color-dark-teal);
        border-bottom: 1px solid var(--color-dark-teal);
        border-bottom-right-radius: 10px;
    }

    &:hover {
        transition: border 0.2s ease-in-out;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

        h4 {
            color: #ffffff;
        }

        &::before,
        &::after {
            position: absolute;
            width: 80px;
            height: 20px;
            content: "";
        }

        &::before {
            transition: all 0.2s ease-in-out;
            top: 0;
            left: 0;
            border-top: 1px solid var(--color-teal);
            border-left: 1px solid var(--color-teal);
        }

        &::after {
            transition: all 0.2s ease-in-out;
            right: 0;
            bottom: 0;
            border-right: 1px solid var(--color-teal);
            border-bottom: 1px solid var(--color-teal);
        }
    }
}

.token-holdings-list {
    margin-left: 0;
    margin-bottom: 50px;

    .item {
        padding: 5px;
        cursor: pointer;
        border-bottom: 1px solid rgba($color: #777777, $alpha: 0.2);

        &.interactable {
            color: #cccccc;

            &:hover {
                color: #57AAA7;
            }
        }


    }

    .actions {
        text-align: right;
    }
}

ion-segment-button {
    text-transform: initial;
    font-size: 16px;
}