.label {
    display: flex;
    align-items: center;
}

.container {
    background-color: hsla(0, 0%, 100%, .05);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    padding: 20px;
    width: 50%;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.result {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 0;
    background-color: hsla(0, 0%, 100%, .1);
    cursor: pointer;
    border: 2px solid transparent;

    &.selected {
        border: 2px solid var(--ion-color-success);
    }
}

.percentage {
    font-size: 13px;
    margin-right: 10px;
}

.result-row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px 10px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .05);

    &.selected {
        background-color: hsla(0, 0%, 100%, .15);
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        border-bottom: none;
    }
}

.results-container {
    height: calc(100vh - 380px);
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
