<ion-content fullscreen="true" [formGroup]="swapForm">
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        offset="0"
        size-md="12"
        offset-md="0"
        size-md="10"
        offset-md="1"
        size-xl="10"
        offset-xl="1"
      >
        <ion-header class="no-shadow">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
              <ion-back-button defaultHref="/app/markets"></ion-back-button>
            </ion-buttons>
            <ion-title> <span>{{ ticker }}</span> / ATOM Market </ion-title>
          </ion-toolbar>
        </ion-header>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="mt-5" class="container">
    <ion-row class="mt-2">
      <ion-col>
        @if (token && !isLoading) {
        <ion-input
          #input
          label="{{baseToken | uppercase}}"
          labelPlacement="stacked"
          fill="outline"
          placeholder=""
          [maskito]="decimalMask"
          [maskitoElement]="maskPredicate"
          formControlName="amount"
          ><ion-item slot="end" class="ion-padding-start" lines="none">
            <ion-select
              interface="popover"
              value="atom"
              (ionChange)="baseTokenChange($event)"
            >
              <ion-select-option value="atom">ATOM</ion-select-option>
              <ion-select-option value="usd">$</ion-select-option>
            </ion-select></ion-item
          ></ion-input
        >
        <ion-input
          #input
          label="{{token.name}}"
          labelPlacement="stacked"
          fill="outline"
          class="mt-3"
          [maskito]="decimalMask"
          [maskitoElement]="maskPredicate"
          formControlName="tokenAmount"
          ><ion-button
            fill="clear"
            id="select-token"
            (click)="openTokenModal()"
            slot="end"
            aria-label="token"
            >{{token.ticker}}</ion-button
          >
        </ion-input>
        <ion-input
          #input
          label="Max Rate (${{maxRate * baseTokenUSD | tokenDecimals:6 |
            number:'1.0-6'}})"
          labelPlacement="stacked"
          fill="outline"
          class="mt-3"
          [maskito]="decimalMask"
          [maskitoElement]="maskPredicate"
          formControlName="rate"
          ><ion-button fill="clear" slot="end" aria-label="token"
            >ATOM</ion-button
          >
        </ion-input>
        }
      </ion-col>
    </ion-row>

    @if (isLoading) {
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    } @if (token && !isLoading) {
    <div class="results-container">
      @for (listing of filteredListings; track listing.id) {
      <ion-row
        class="result"
        [class.selected]="listing === selected"
        (click)="onSelect(listing)"
      >
        <div class="result-row">
          <strong>Offer</strong>
          <span
            >{{listing.amount| tokenDecimals:token.decimals | number:'1.0-6' }}
            {{token.ticker}}</span
          >
        </div>

        <div class="result-row">
          <strong>Rate</strong>
          <span>
            <app-percentage-change
              [value]="listing.ppt"
              [baseValue]="floorPrice"
              class="percentage"
            />
            <span>{{listing.ppt | tokenDecimals:6 |number:'1.0-6'}} ATOM</span>
          </span>
        </div>

        <div class="result-row">
          <strong>Total</strong>
          <span
            >{{ listing.marketplace_listing.total |tokenDecimals:6 |
            number:'1.0-6'}} ATOM (${{listing.marketplace_listing.total *
            baseTokenUSD | tokenDecimals:6 | number:'1.0-6'}})</span
          >
        </div>
      </ion-row>
      }
    </div>
    <ion-row>
      <ion-col size="12" class="actions">
        <ion-button
          [disabled]="!selected"
          color="success"
          type="submit"
          (click)="buy()"
          >Buy</ion-button
        >
      </ion-col>
    </ion-row>
    }
  </ion-grid>
</ion-content>
