<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" offset="0" size-md="12" offset-md="0" size-md="10" offset-md="1" size-xl="8" offset-xl="2"
        class="main-content">
        <ion-header class="no-shadow">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
              <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title>
              New inscription
            </ion-title>
          </ion-toolbar>
        </ion-header>

        <div class="aligned">

          <h2 class="thin">What would you like to inscribe?</h2>

          <ion-grid>
            <ion-row>
              <ion-col size-lg="6" size-sm="6" size="12">
                <a routerLink="/app/create/inscription">
                  <ion-card class="no-shadow bordered mw-400">
                    <img alt="Silhouette of mountains" src="./../assets/background/generic-content.png" />
                    <ion-card-header>
                      <ion-card-title>Content</ion-card-title>
                      <ion-card-subtitle>Anything you'd like</ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content>
                      From images to text, videos, audio, and more. Just keep it under 800kb (for now)
                    </ion-card-content>
                  </ion-card>
                </a>
              </ion-col>
              <ion-col size-lg="6" size-sm="6" size="12">
                <a routerLink="/app/create/token">
                  <ion-card class="no-shadow bordered mw-400">
                    <img alt="Minting of a new coin" src="../../assets/background/coin-mint.png" />
                    <ion-card-header>
                      <ion-card-title>Token</ion-card-title>
                      <ion-card-subtitle>CFT-20</ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content>
                      Create a new CFT-20 token that can be transferred and traded (soon)
                    </ion-card-content>
                  </ion-card>
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>