{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^[./].*(?<!\\.(c|le|sc)ss|png|svg)$",
    "\\.(c|le|sc)ss$",
    "\\.png$",
    "\\.svg$"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
