ion-content {
  --ion-background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../../assets/background/landing/earth.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

.mint-container {
  margin-top: 200px;
  width: 50%;
  height: 200px;
  /* Optional styles */
  // border: 1px solid var(--color-yellow);
  padding: 20px;

  // background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);

  // position: relative;
  //   // background-color: #232f3d;
  //   // background-color: #242b33;
  background-color: rgba(36, 43, 51, 0.1);

  // 3a4045
  background: linear-gradient(90deg, rgba(8, 12, 16, 0.8) 0%, rgba(46, 46, 49, 0.8) 100%);
  // opacity: 0.9;
  backdrop-filter: blur(100px) !important;
  opacity: 0.95;
  margin: 30px;
  border-radius: 10px;
  // height: 100vh;
}