ion-content {
  --ion-background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../../assets/background/meteor-background.jpg");
  @supports (
    background-image: url("../../assets/background/meteor-background.webp")
  ) {
    background-image: url("../../assets/background/meteor-background.webp");
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.cover {
  margin: 0px;
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100vh;
  // backdrop-filter: blur(0px);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mint-container {
  margin-top: 150px;
  max-width: 500px;
  // height: 200px;
  padding: 20px;
  background-color: rgba(36, 43, 51, 0.4);
  backdrop-filter: blur(32px);
  opacity: 0.98;
  border-radius: 10px;
  position: relative;
  border: 1px solid rgba(6, 31, 39, 0.4);

  @media only screen and (max-width: 700px) {
    margin-top: 100px;
  }
}

.credit-container {
  max-width: 500px;
  padding-top: 10px;
  padding-right: 10px;
  opacity: 0.95;
  position: relative;
  text-align: right;
  color: rgba(255, 255, 255, 0.3);

  a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(253, 135, 71, 0.6) !important;
    transition: all 0.2s ease-in-out;

    &:hover {
      transition: all 0.2s ease-in-out;
      color: rgba(253, 135, 71, 1) !important;
    }
  }
}

.logo {
  display: block;
  position: relative;
  top: -75px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;

  .inner {
    border: 1px solid rgba(6, 31, 39, 0.4);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 150px;
    height: 150px;
    padding-top: 0px;
    font-size: 34px;

    img {
      border-radius: 10px;
    }

    div {
      padding-top: 30px;
    }

    span {
      display: block;
      font-size: 12px;
    }
  }
}

div.content {
  margin-top: -60px;
}

div.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.meta {
  .label {
    font-size: 14px;
    color: #dddddd;
    font-weight: 600;
    display: block;
  }

  .value {
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    display: block;
  }

  a {
    color: var(--color-teal);
  }
}

.countdown {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(253, 135, 71, 0.1);

  .title {
    font-size: 18px;
    color: #dddddd;
    font-weight: normal;
    display: block;
  }

  .counter {
    font-size: 24px;
    color: var(--color-yellow);
    font-weight: normal;
    display: block;
  }
}
