<ion-content>
  <div class="loading" *ngIf="isLoading">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <p>
      Loading token...
    </p>
  </div>
  <div class="cover" *ngIf="!isLoading">
    <div class="mint-container mx-auto">
      <div class="logo">
        <div class="inner">
          <img [src]="token.content_path" *ngIf="token.content_path" />
          <div *ngIf="!token.content_path">
            {{ token.ticker }}
            <span>CFT-20 Token</span>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="text-center" *ngIf="token.content_path">
          ${{ token.ticker }}
        </div>
        <div class="title">
          {{ token.name }}
        </div>

        <ion-grid>
          <ion-row class="break pb-3">
            <ion-col size="12">
              <div class="meta">
                <h4>Tokenomics</h4>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="meta">
                <span class="label">Max supply</span>
                <span class="value">{{ token.max_supply | tokenDecimals:token.decimals | humanSupply }}</span>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="meta">
                <span class="label">Circulating</span>
                <span class="value">{{ token.max_supply | tokenDecimals:token.decimals | humanSupply }}</span>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="meta">
                <span class="label">Per wallet mint limit</span>
                <span class="value">{{ token.per_wallet_limit | tokenDecimals:token.decimals }}</span>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="meta">
                <span class="label">{{ tokenIsLaunched ? 'Launched at' : 'Launching'}}</span>
                <span class="value">{{ tokenLaunchDate | date:'longDate' }} {{ tokenLaunchDate |
                  date:'shortTime' }}</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="cta text-center m-5" *ngIf="tokenIsLaunched">
          <ion-button color="warning" (click)="mint()">MINT NOW</ion-button>
        </div>
      </div>
    </div>
    <div class="credit-container mx-auto">
      powered by <a href="/" target="_blank">meteors</a>
    </div>
  </div>
</ion-content>