video,
audio {
    width: 100%;
}

.no-preview {
    width: 200px;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    text-transform: uppercase;
    padding-top: 80px;
    border-radius: 10px;
    font-size: 22px;
    color: #999999;
}

.explicit {
    width: 200px;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    text-transform: uppercase;
    padding-top: 80px;
    border-radius: 10px;
    font-size: 22px;
    color: #999999;

    .note {
        font-size: 12px;
    }
}