<app-content>
  <ion-searchbar #search (ionInput)="searchbarInput($event)"></ion-searchbar>
  @if (isLoading) {
    <div>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </div>
  }

  <ion-list>
    @for (item of filteredItems; track item.id) {
      <ion-item [button]="true" [detail]="false" (click)="handleChange(item)">
        <ion-avatar aria-hidden="true" slot="start">
          @if (item.content_path) {
            <img [src]="item.content_path" />
          } @else {
            <img
              class="no-logo"
              src="../../assets/logo/a-white-on-transparent-250.png"
            />
          }
        </ion-avatar>
        <ion-label>{{ item.ticker }} / ATOM</ion-label>
        <ion-note slot="end" color="medium"
          >{{ item.last_price_base | tokenDecimals: item.decimals }} ATOM (${{
            item.last_price_base * baseTokenUSD
              | tokenDecimals: 6
              | number: '1.0-6'
          }})
        </ion-note>
      </ion-item>
    }
  </ion-list>
</app-content>
