.split-pane-main {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    border-radius: 10px;
}

.menu-split-pane {
    --side-width: 310px;
    --side-max-width: 310px;
}

.menu-aside {
    --width: 310px;
    border: none !important;
}

.layout {
    --ion-background-color: transparent;
    background: rgb(58, 75, 89);
    background: linear-gradient(184deg, rgba(58, 75, 89, 1) 0%, rgba(26, 38, 53, 1) 100%);
}

ion-list,
ion-item,
ion-list-header,
ion-label {
    --background: transparent;
    --ion-background-color: transparent !important;
    --background-color: transparent !important;
    background-color: transparent !important;
}



ion-list-header {
    ion-label {
        text-transform: uppercase;
        color: #ffffff;
        padding: 0px;
        margin: 0px;
    }
}

ion-item {
    --min-height: 25px;
    // min-height: 20px;
    // max-height: 20px;
    // height: 40px;
    padding: 0px;
    --padding-bottom: 0px;
    --inner-padding-bottom: 0px;

    ion-label {
        margin-left: 10px;
        --min-height: 25px;
        height: 20px;
        padding: 0px;
        color: #999999;
    }
}


.menu {
    position: relative;
    background-color: #232f3d;
    margin: 30px;
    border-radius: 10px;
    height: 100vh;

    -webkit-box-shadow: 0px 11px 29px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 29px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 29px 1px rgba(0, 0, 0, 0.75);


    img {
        border-radius: 10px 10px 0px 0px;
    }
}


.logo {
    position: absolute;
    top: 15px;
    width: 150px;
    left: 42px;
    z-index: 100;
}

.profile {
    &.disconnected {
        .alter-ego {
            img {
                opacity: 0.4;
            }
        }

        .connect-wallet {
            position: absolute;
            top: 220px;
            // left: 45px;
            width: 100%;
            z-index: 99;
            text-align: center;

            ion-chip {
                backdrop-filter: blur(10px);
            }
        }
    }
}