ion-card.no-shadow,
ion-header.no-shadow,
ion-toolbar.no-shadow,
ion-title.no-shadow {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

ion-item {
    border-left: 1px solid transparent;
}

ion-item.active {
    border-left: 1px solid var(--color-orange);
    --color: var(--color-orange);
}

ion-button {
    text-transform: initial;
}

ion-modal {
    --background: transparent !important;
    --border-radius: 10px;
    --border-style: solid;
    --border-color: #0c151d;
    --border-width: 1px;
}

.shadowed {
    // background-color: #232f3d;
    // background-color: #363c41;
    // background-color: rgba(53, 60, 66, 0.1);
    // border: 1px solid #363c41;
    // // background: linear-gradient(184deg, rgba(53, 60, 66, 1) 0%, rgba(44, 50, 58, 1) 100%);
    // // opacity: 0.9;
    // backdrop-filter: blur(100px) !important;


    // background-color: rgba(36, 43, 51, 0.75);
    --background: transparent;
    background: linear-gradient(184deg, rgba(53, 60, 66, 0.5) 0%, rgba(44, 50, 58, 1) 100%);
    // background: linear-gradient(184deg, #353c42, #353c42, #343b41, #333940, #31383f, #30363d, #2e353c, #2d333b, #2c323a, #2c323a);

    backdrop-filter: blur(100px) !important;
    opacity: 0.99;
    border-radius: 10px !important;
    --border-radius: 10px !important;
    height: 90vh;


    -webkit-box-shadow: 0px 11px 29px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 29px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 29px 1px rgba(0, 0, 0, 0.75);
}

ion-button[color="primary"] {
    --ion-color-primary: var(--color-teal);
    --ion-color-primary-rgb: 87, 170, 167;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #4e918e;
    --ion-color-primary-tint: #7bc9c6;
}

ion-button[color="warning"] {
    --ion-color-warning: var(--color-orange);
    --ion-color-warning-rgb: 255, 119, 46;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
}

ion-input,
ion-textarea {
    // --border-color: rgba(66, 108, 117, 0.2) !important;
    --background: transparent;
    // border-bottom: 1px solid var(--color-teal);

    --highlight-color-focused: var(--color-orange) !important;
    --highlight-color-invalid: var(--ion-color-danger) !important;
    --highlight-color-valid: var(--ion-color-success) !important;

    // &:focus {
    //     border-bottom: 1px solid var(--color-orange);
    // }

    // &:focus-within {
    //     border-bottom: 1px solid var(--color-orange);
    // }

    &.no-border {
        border-bottom: 1px solid transparent;

    }
}

a {
    text-decoration: none;
}

p {
    font-weight: 300;

    &.note {
        color: #ddd;
    }
}

h1,
h2,
h3,
h4,
h5 {
    color: #dbdbdb;
    font-weight: 500;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 16pt;
}

h4 {
    font-size: 14pt;
}

.thin {
    font-weight: 300;
}

div.aligned {
    padding-left: 25px;
    padding-right: 25px;
}

.bordered {
    border: 1px solid rgba(66, 108, 117, 0.2);
    border-radius: 10px;
    transition: border 0.2s ease-in-out;

    &:hover {
        border: 1px solid #80712f;
    }
}

ion-alert {
    --background: rgba(53, 60, 66, 0.9) !important;
    --min-width: 300px !important;
    --backdrop-opacity: 0.6 !important;
}

ion-progress-bar::part(track) {
    background: var(--color-dark-teal);
}

ion-progress-bar::part(progress) {
    background: var(--color-teal);
}

.loading {
    max-width: 50%;

    p {
        padding-top: 5px;
        font-size: 14px;
        color: var(--ion-color-step-750);
    }
}

.warning-box {
    margin-left: 15px;
    border-left: 1px solid var(--ion-color-warning);
    border-radius: 0px;
    padding-top: 5px;
    padding-left: 15px;
    color: var(--ion-color-warning);
    text-align: left;
}

.color-orange {
    color: var(--color-orange) !important;
}

.color-teal {
    color: var(--color-teal) !important;
}

.color-danger {
    color: var(--ion-color-danger) !important;
}

a {
    color: var(--color-teal) !important;

    &:hover {
        color: #8bbdbc !important;
    }
}

.alert-button-success {
    --color: var(--ion-color-success) !important;
    color: var(--ion-color-success) !important;
}

.alert-button-cancel {
    --color: var(--color-teal) !important;
    color: var(--color-teal) !important;
}

.main-content {
    // background-color: rgba(30, 30, 30, 0.3) !important;
    background-color: hsla(0, 0%, 100%, .05);
    backdrop-filter: blur(50px);
    height: 100%;
    border-radius: 10px;
    padding: 20px;
}

.inscription-item {
    margin-right: 30px;
    margin-bottom: 40px;
    display: inline-block;
    width: 250px;
    height: 250px;
    position: relative;
    padding: 10px;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    h4 {
        font-size: 16px;
        color: #cccccc;
        font-weight: normal;
        margin-bottom: 5px;
    }

    .content {
        max-width: 250px;
        height: 60%;
        overflow: hidden;
        object-fit: cover;
    }

    .image {
        width: 230px;
        height: 130px;
        overflow: hidden;
        background-color: var(--color-dark-teal);
        text-align: center;
        border-radius: 10px;
    }

    .ticker {
        width: 230px;
        height: 130px;
        background-color: rgba(0, 0, 0, 0.3);
        text-align: center;
        text-transform: uppercase;
        padding-top: 50px;
        border-radius: 10px;
        font-size: 22px;
        color: #ffffff;
    }

    .mime {
        width: 230px;
        height: 130px;
        background-color: var(--color-dark-teal);
        text-align: center;
        text-transform: uppercase;
        padding-top: 50px;
        border-radius: 10px;
        font-size: 22px;
    }

    .detail {
        font-size: 12px;
        color: #999999;
        font-weight: normal;
    }

    &:hover {
        transition: all 0.2s ease-in-out;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        h4 {
            color: #ffffff;
        }

        border: 1px solid rgba(255, 255, 255, 0.2);

    }
}

.break {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}