ion-card.no-shadow,
ion-header.no-shadow,
ion-toolbar.no-shadow,
ion-title.no-shadow {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

ion-item {
    border-left: 1px solid transparent;
}

ion-item.active {
    border-left: 1px solid var(--color-orange);
    --color: var(--color-orange);
}

ion-button {
    text-transform: initial;
}


ion-content.shadowed {
    background-color: #232f3d;
    border-radius: 10px !important;

    -webkit-box-shadow: 0px 11px 29px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 29px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 29px 1px rgba(0, 0, 0, 0.75);
}

ion-button[color="primary"] {
    --ion-color-primary: var(--color-teal);
    --ion-color-primary-rgb: 87, 170, 167;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #4e918e;
    --ion-color-primary-tint: #7bc9c6;
}

ion-button[color="warning"] {
    --ion-color-warning: var(--color-orange);
    --ion-color-warning-rgb: 255, 119, 46;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
}

ion-input,
ion-textarea {
    // --border-color: rgba(66, 108, 117, 0.2) !important;
    --background: transparent;
    // border-bottom: 1px solid var(--color-teal);

    --highlight-color-focused: var(--color-orange) !important;
    --highlight-color-invalid: var(--ion-color-danger) !important;
    --highlight-color-valid: var(--ion-color-success) !important;

    // &:focus {
    //     border-bottom: 1px solid var(--color-orange);
    // }

    // &:focus-within {
    //     border-bottom: 1px solid var(--color-orange);
    // }

    &.no-border {
        border-bottom: 1px solid transparent;

    }
}

a {
    text-decoration: none;
}

p {
    font-weight: 300;

    &.note {
        color: #ddd;
    }
}

h1,
h2,
h3,
h4,
h5 {
    color: #dbdbdb;
    font-weight: 500;
}

h2 {
    font-size: 14pt;
}

.thin {
    font-weight: 300;
}

div.aligned {
    padding-left: 25px;
    padding-right: 25px;
}

.bordered {
    border: 1px solid rgba(66, 108, 117, 0.2);
    border-radius: 10px;
    transition: border 0.2s ease-in-out;

    &:hover {
        border: 1px solid #80712f;
    }
}

ion-alert {
    --background: #232f3d !important;
    --min-width: 300px !important;
    --backdrop-opacity: 0.6 !important;
}

ion-progress-bar::part(track) {
    background: var(--color-dark-teal);
}

ion-progress-bar::part(progress) {
    background: var(--color-teal);
}

.loading {
    max-width: 50%;

    p {
        padding-top: 5px;
        font-size: 14px;
        color: var(--ion-color-step-750);
    }
}

.warning-box {
    margin-left: 15px;
    border-left: 1px solid var(--ion-color-warning);
    border-radius: 0px;
    padding-top: 5px;
    padding-left: 15px;
    color: var(--ion-color-warning);
}