ion-card.no-shadow,
ion-header.no-shadow,
ion-toolbar.no-shadow,
ion-title.no-shadow {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

ion-item {
  border-left: 1px solid transparent;
}

ion-item.active {
  border-left: 1px solid var(--color-orange);
  --color: var(--color-orange);
}

ion-button {
  text-transform: initial;

}

ion-popover {
  --background: rgba(255, 255, 255, 0.3);
  --backdrop-opacity: 0.6;
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  --color: white;
  --width: 300px;
}

ion-popover ion-content {
  --background: rgba(0, 0, 0, 0.1);
}

ion-popover::part(backdrop) {
  background-color: rgb(7, 9, 40);
}

ion-modal {
  --background: transparent !important;
  --border-radius: 10px;
  --border-style: solid;
  --border-color: #0c151d;
  --border-width: 1px;
}

.shadowed {
  // background-color: #232f3d;
  // background-color: #363c41;
  // background-color: rgba(53, 60, 66, 0.1);
  // border: 1px solid #363c41;
  // // background: linear-gradient(184deg, rgba(53, 60, 66, 1) 0%, rgba(44, 50, 58, 1) 100%);
  // // opacity: 0.9;
  // backdrop-filter: blur(100px) !important;


  // background-color: rgba(36, 43, 51, 0.75);
  --background: transparent;
  background: linear-gradient(184deg, rgba(53, 60, 66, 0.5) 0%, rgba(44, 50, 58, 1) 100%);
  // background: linear-gradient(184deg, #353c42, #353c42, #343b41, #333940, #31383f, #30363d, #2e353c, #2d333b, #2c323a, #2c323a);

  backdrop-filter: blur(100px) !important;
  opacity: 0.99;
  border-radius: 10px !important;
  --border-radius: 10px !important;
  height: 90vh;


  -webkit-box-shadow: 0px 11px 29px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 11px 29px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 11px 29px 1px rgba(0, 0, 0, 0.75);
}

ion-button[color="primary"] {
  --ion-color-primary: var(--color-teal);
  --ion-color-primary-rgb: 87, 170, 167;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #4e918e;
  --ion-color-primary-tint: #7bc9c6;

}

ion-button[color="warning"] {
  --ion-color-warning: var(--color-orange);
  --ion-color-warning-rgb: 255, 119, 46;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
}



ion-button[fill="outline"] {
  --border-width: 1px;
}


ion-input,
ion-searchbar,
ion-textarea {
  // --border-color: rgba(66, 108, 117, 0.2) !important;
  --background: transparent !important;
  // border-bottom: 1px solid var(--color-teal);

  --highlight-color-focused: var(--color-orange) !important;
  --highlight-color-invalid: var(--ion-color-danger) !important;
  --highlight-color-valid: var(--ion-color-success) !important;

  // &:focus {
  //     border-bottom: 1px solid var(--color-orange);
  // }

  // &:focus-within {
  //     border-bottom: 1px solid var(--color-orange);
  // }

  &.no-border {
    border-bottom: 1px solid transparent;

  }
}

a {
  text-decoration: none;
}

p {
  font-weight: 300;

  &.note {
    color: #ddd;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: #dbdbdb;
  font-weight: 500;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 16pt;
}

h4 {
  font-size: 14pt;
}

.thin {
  font-weight: 300;
}

div.aligned {
  padding-left: 25px;
  padding-right: 25px;
}

.bordered {
  border: 1px solid rgba(66, 108, 117, 0.2);
  border-radius: 10px;
  transition: border 0.2s ease-in-out;

  &:hover {
    border: 1px solid #80712f;
  }
}

ion-alert {
  --background: linear-gradient(84deg, rgba(40, 31, 67, 1) 0%, rgba(68, 45, 68, 1) 100%) !important;
  // --background: hsla(0, 0%, 100%, .05) !important;
  // --background: linear-gradient(184deg, rgba(53, 60, 66, 0.5) 0%, rgba(44, 50, 58, 1) 100%);
  // background: linear-gradient(184deg, rgba(53, 60, 66, 0.5) 0%, rgba(44, 50, 58, 1) 100%);
  backdrop-filter: blur(12px);
  --min-width: 300px !important;
  --backdrop-opacity: 0.8 !important;
}

ion-progress-bar::part(track) {
  background: var(--color-dark-teal);
}

ion-progress-bar::part(progress) {
  background: var(--color-teal);
}

.loading {
  max-width: 50%;

  p {
    padding-top: 5px;
    font-size: 14px;
    color: var(--ion-color-step-750);
  }
}

.warning-box {
  margin-left: 15px;
  border-left: 1px solid var(--ion-color-warning);
  border-radius: 0px;
  padding-top: 5px;
  padding-left: 15px;
  color: var(--ion-color-warning);
  text-align: left;
}

.color-orange {
  color: var(--color-orange) !important;
}

.color-teal {
  color: var(--color-teal) !important;
}

.color-danger {
  color: var(--ion-color-danger) !important;
}

a {
  color: var(--color-teal) !important;

  &:hover {
    color: #8bbdbc !important;
  }
}

.alert-button-success {
  --color: var(--ion-color-success) !important;
  color: var(--ion-color-success) !important;
}

.alert-button-cancel {
  --color: var(--color-teal) !important;
  color: var(--color-teal) !important;
}

.main-content {
  // background-color: rgba(30, 30, 30, 0.3) !important;
  background-color: hsla(0, 0%, 100%, .05);
  backdrop-filter: blur(50px);
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
}


.inscription-item {
  margin-right: 30px;
  margin-bottom: 40px;
  display: inline-block;
  width: 200px;
  height: 300px;
  position: relative;
  padding: 10px;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  h4 {
    font-size: 16px;
    color: #cccccc;
    font-weight: normal;
    margin-bottom: 5px;
  }

  .content {
    max-width: 200px;
    height: 65%;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    width: 230px;
    height: 130px;
    overflow: hidden;
    background-color: var(--color-dark-teal);
    text-align: center;
    border-radius: 10px;
  }

  .ticker {
    width: 230px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    border-radius: 10px;
    font-size: 22px;
    color: #ffffff;
  }

  .mime {
    width: 230px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    border-radius: 10px;
    font-size: 22px;
    color: #999999;
  }

  .detail {
    font-size: 12px;
    color: #999999;
    font-weight: normal;
  }

  &:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    h4 {
      color: #ffffff;
    }

    border: 1px solid rgba(255, 255, 255, 0.2);

  }
}

.break {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.p-datatable {
  background-color: transparent !important;
}

.p-paginator {
  border: none;
}

.p-datatable-header {
  text-align: right;
  border: none;
}

.p-paginator,
.p-datatable-header,
.p-datatable-tbody tr,
.p-datatable-tbody td,
.p-datatable-thead th {
  background-color: transparent !important;
}

p-table {
  font-weight: 300;

  .p-paginator {
    font-size: 12px
  }

  .p-highlight {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-radius: 10px;
    height: 25px;
  }

  .p-datatable .p-datatable-tbody>tr {
    cursor: pointer;

    &.no-click {
      cursor: default;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.05) !important;
    }
  }

  .p-datatable .p-datatable-thead>tr>th {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }

  .p-datatable .p-datatable-tbody>tr>td {
    padding: 12px;
    font-size: 14px;

    &.mono {
      font-family: var(--mono-font-family);
    }
  }

  .token-logo {
    width: 40px;
    padding: 0px !important;

    .ticker {
      width: 100%;
      height: 40px;
      background-color: rgba(0, 0, 0, 0.3);
      text-align: center;
      text-transform: uppercase;
      border-radius: 10px;
      font-size: 9px;
      padding-top: 12px;
    }

    .image {
      width: 40px;
      height: 40px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.3);
      text-align: center;

      img {
        border-radius: 10px;

        &.no-logo {
          padding-top: 5px;
          max-width: 30px;
        }
      }
    }
  }

  .search {
    max-width: 200px;
    text-align: right;
    margin-right: 0;
    margin-left: auto;
  }
}

.base-token-price {
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  border-radius: 10px;
  padding: 15px;
  float: left;
  margin-top: 15px;

  .ticker {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
  }

  .price {
    color: rgba(255, 255, 255, 0.6);
  }
}

.text-muted {
  color: rgba(255, 255, 255, 0.5) !important;
}

.darken {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.55) 70%, rgba(0, 0, 0, 0.2) 100%);
  width: 100% !important;
  height: 100% !important;
  position: absolute;
}

ion-toast {
  --background: transparent !important;
  --border-radius: 0px;
  --border-style: none;
  --border-color: transparent;
  --border-width: 0px;
  backdrop-filter: blur(12px) !important;
  --color: var(--color-yellow);
  box-shadow: none !important;
  --box-shadow: none !important;
}

.wallet-required-modal {
  --width: 375px;
  --height: 370px;
}

.wallet-selection-modal {
  --width: 375px;
  --height: 370px;
}

/* A fix for the rare bug that causes modals to be completely transparent */
.modal-background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    transform: scale(4) !important;
    filter: blur(50px) brightness(45%) saturate(60%);
  }
}