<ion-header class="no-shadow">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h1>Welcome to Meteors</h1>
    <p>Meteors is the first metaprotocol framework that allows you to inscribe arbitrary content on the Cosmos Hub. <a
        href="#" class="color-orange">Learn more</a></p>
  </ion-toolbar>
</ion-header>
<ion-content class="shadowed">
  <ion-button (click)="connectWC()">connect</ion-button>
  <div>Content</div>
  <div>{{errorText}}</div>
</ion-content>