<ion-content class="shadowed">
  <ion-header class="no-shadow">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Dashboardf

      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    This is the actial content
    <ion-icon color="danger" name="chevron-forward" slot="start"></ion-icon>
    <ion-button color="primary">Submit</ion-button>
    <ion-button color="success">Submit</ion-button>
  </div>
</ion-content>